<h2>Log in to your Bucketlist account:</h2>
<br>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form action="/login" method="POST">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username">
  <br><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="password">
  <br><br>
  <input type="submit" id="log_in" value="Log In">
</form>
