<h2>Where I've Been</h2>

<ol>
<%@user.experiences.each do |experience|%>
  <%if experience.experienced == true%>
    <li><p><%=experience.location.city%>, <%=experience.location.country%></p></li>
    <br>
    <br>
  <%end%>
<%end%>
</ol>

<form action="/logout" method="POST">
  <input type="submit" id="logout" value="Log Out">
</form>

<!--Add a "visited" attribute to location?"-->
