<h2>Where I've Been</h2>

<ol>
<%@user.locations.each do |location|%>
  <li><p><%=location.city%>, <%=location.country%></p></li>
  <br>
  <br>
<%end%>
</ol>

<form action="/logout" method="POST">
  <input type="submit" id="logout" value="Log Out">
</form>

<!--Change so that it only displays locations of experiences w/ status experienced -->
