<h3 class="page_heading">Travels</h3>

<div class="col"><p> </p></div>

<div class="col_middle">
  <h4>Where i have been: </h4>
  <ul>
  <%@user.experiences.each do |experience|%>
    <%if experience.experienced == true%>
      <li><p><%=experience.location.city%>, <%=experience.location.country%></p></li>
    <%end%>
  <%end%>
  </ul>
  <br>
</div>

<div class="col_middle">
  <h4>On my bucketlist: </h4>
  <ul>
    <%@user.experiences.each do |experience|%>
      <%if experience.experienced == false%>
        <li><p><%=experience.location.city%>, <%=experience.location.country%></p></li>
      <%end%>
    <%end%>
  </ul>
  <br>
</div>

<div class="col"><p> </p></div>
