<div class="access_section">
  <h1>LOG IN TO BUCKETLIST</h1>
  <hr><br><br>
  <% if flash.has?(:message) %>
    <br>
    <h6 class="flash"><%= flash[:message] %></h6>
    <br><br><br>
  <% end %>
  <form action="/login" method="POST">
    <p><label for="username">Username: </label>
    <input type="text" id="username" name="username"></p>
    <p><label for="password">Password: </label>
    <input type="password" id="password" name="password"></p>
    <br>
    <input type="submit" id="log_in" value="LOG IN">
  </form>
  <br>
  <br>
</div>
