<h3 class="page_heading">Travels</h3>

<div class="col"><p> </p></div>

<div class="col_middle">
  <h4>Where i have been: </h4>
  <ul>
  <%@traveled_locations.each do |location|%>
    <li><p><%=location.city%>, <%=location.country%></p></li>
  <%end%>
  </ul>
  <br>
</div>

<div class="col_middle">
  <h4>On my bucketlist: </h4>
  <ul>
    <%@bucketlist_locations.each do |location|%>
      <li><p><%=location.city%>, <%=location.country%></p></li>
    <%end%>
  </ul>
  <br>
</div>

<div class="col"><p> </p></div>
