<h2>Where I've Been</h2>

<ul>
<%@user.experiences.each do |experience|%>
  <%if experience.experienced == true%>
    <li><p><%=experience.location.city%>, <%=experience.location.country%></p></li>
  <%end%>
<%end%>
</ul>
<br>
<br>

<h3>Locations on my bucketlist:</h3>
<ul>
  <%@user.experiences.each do |experience|%>
    <%if experience.experienced == false%>
      <li><p><%=experience.location.city%>, <%=experience.location.country%></p></li>
    <%end%>
  <%end%>
</ul>

<!--Add a "visited" attribute to location?"-->
