<h2>Add a new experience to one of your lists:</h2>

<form action="/experiences" method="POST">
  <label for="experience_name">Experience Name: </label>
  <input type="text" id="experience_name" name="name">
  <br>
  <br>
  <label for="experience_location">Location: </label>
  <input type="text" id="experience_location" name="location">
  <br>
  <br>
  <label>Bucketlist:</label><br>
  <input type="checkbox" id="life" name="bucketlist" value="Life">Life Bucketlist</input><br>
  <input type="checkbox" id="spring" name="bucketlist" value="Spring">Spring Bucketlist</input><br>
  <input type="checkbox" id="summer" name="bucketlist" value="Summer">Summer Bucketlist</input><br>
  <input type="checkbox" id="fall name="bucketlist" value="Fall">Fall Bucketlist</input><br>
  <input type="checkbox" id="winter" name="bucketlist" value="Winter">Winter Bucketlist</input><br>
  <br>
  <input type="submit" id="add_experience" value="Add to my Bucketlist">
</form>
