<h3 class="page_heading">Add a new experience</h3>

<div class="col"><p> </p></div>

<div class="col_middle">
  <% if flash.has?(:message) %>
    <br>
    <h6 class="flash"><%= flash[:message] %></h6>
  <% end %>

  <form action="/experiences" method="POST">
    <h6><label for="experience_name">Experience Name: </label>
    <input type="text" id="experience_name" name="name"></h6>
    <h6><label>Location: </label><br></h6>
    <p><label for="city">City: </label>
    <input type="text" id="city" name="city"></p>
    <p><label for="country">Country: </label>
    <input type="text" id="country" name="country"></p>
    <br>
    <h6><label>Bucketlist:</label><br></h6>
    <div>
      <p><input type="radio" id="life" name="bucketlist" value="Life"> Life Bucketlist </input><br></p>
      <p><input type="radio" id="spring" name="bucketlist" value="Spring"> Spring Bucketlist </input><br></p>
      <p><input type="radio" id="summer" name="bucketlist" value="Summer"> Summer Bucketlist </input><br></p>
      <p><input type="radio" id="fall" name="bucketlist" value="Fall"> Fall Bucketlist </input><br></p>
      <p><input type="radio" id="winter" name="bucketlist" value="Winter"> Winter Bucketlist </input><br></p>
    </div>
    <br>
    <br>
    <input class="submit" type="submit" id="add_experience" value="Add to my bucketlist">
  </form>
  <br>
  <br>
</div>

<div class="col"></div>
