header, header > h1 > a, header > h1 > a:visited {
  width: 103%;
  height: 125px;
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3em;
  background-color: rgb(152, 72, 3);
  font-weight: 300;
  color: #fffff2;
  margin-left: -.6%;
  margin-top: -2%;
  padding-top: 1.5%;
  border-bottom: 2px solid black;
}

header > h1 > a:hover {
  color: black;
  border-bottom: 2px solid #fffff2;
}

body {
  background-color: #fffff2;
  height: 100%;
}

footer {
  width: 103%;
  height: 125px;
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3em;
  background-color: rgb(152, 72, 3);
  font-weight: 300;
  color: #fffff2;
  margin-top: 15%;
  margin-left: -2%;
  border-top: 2px solid black;
}

.access_section {
  width: 60%;
  height: 360px;
  background-color: rgb(152, 72, 3);
  border: 2px solid black;
  margin: 50px auto 20% auto;
  text-align: center;
  padding-top: 8%;
}

.access_section > h4 > a, .access_section > h4 > a:visited  {
  width: 200px;
  height: 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #fffff2;
  border: 2px solid black;
  padding-top: 10px;
  margin: auto;
  display: block;
  text-decoration: none;
  color: inherit;
}

.access_section > h4 > a:hover {
  background-color: black;
  border: 2px solid #fffff2;
  color: #fffff2;
}
