<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
  </head>
  <body>
    <header>
      <h1><a href="/">BucketList</a></h1>
    </header>

    <%= yield %>

    <%if logged_in? == true%>
      <form action="/logout" method="POST">
        <input type="submit" id="logout" value="Log Out">
      </form>
    <%end%>

  </body>
</html>
