<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
  </head>
  <body>
    <h1><a href="/">Bucketlist</a></h1>

    <%= yield %>

    <%if logged_in? == true%>
      <form action="/logout" method="POST">
        <input type="submit" id="logout" value="Log Out">
      </form>
    <%end%>

  </body>
</html>
