<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
  </head>
  <body>
    <header>
      <h1><a href="/">BucketList</a></h1>
    </header>

    <%= yield %>

  </body>

  <footer>
  <%if logged_in? == true%>
    <div class="spacer clearfix"></div>
    <br>
    <br>
    <form action="/logout" method="POST">
      <input class="logout" type="submit" id="logout" value="Log Out">
    </form>
    <br>
    <br>
  <%end%>
  </footer>

</html>
