<h2 class="typewriter_cream page_heading">map of <%=@location.city%>, <%=@location.country%></h2>

<!-- dynamically creates Google map when experience is created -->
<div class="map_border">
  <div class="main" id="map_section">
    <iframe id="map" src="https://www.google.com/maps?q=[<%=@location.city%>, <%=@location.country%>]&output=embed" width="96%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
