<h3 class="typewriter_cream page_heading">Map of <%=@location.city%>, <%=@location.country%></h3>
<div id="rule_cream"></div>
<div id="rule_black"></div>
<div id="rule_cream"></div>
<br>

<div class="col"><p> </p></div>

<div class="col_middle" id="map_section">
  <iframe id="map" src="https://www.google.com/maps?q=[<%=@location.city%>, <%=@location.country%>]&output=embed" width="96%" height="96%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="col"></div>
